xml/csharpxmldoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://twopizza9621536.github.io/schema/xml/csharpxmldoc.xsd" targetNamespace="https://twopizza9621536.github.io/schema/xml/csharpxmldoc.xsd" xml:lang="en-us">
	<xs:element name="Namespace">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Class">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Member">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="summary" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Property">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="summary">
											<xs:complexType mixed="true">
												<xs:sequence minOccurs="0">
													<xs:element name="see">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="cref" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Method">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="summary">
											<xs:complexType mixed="true">
												<xs:sequence minOccurs="0">
													<xs:element name="see">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="cref" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="returns" type="xs:string" />
										<xs:element minOccurs="0" name="seealso">
											<xs:complexType>
												<xs:attribute name="cref" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="return">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="see">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="name" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="exception">
											<xs:complexType>
												<xs:attribute name="cref" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
